@import '../../node_modules/foundation-sites/scss/foundation';
@import "mixins";

$nav_logo--color: #00ff85;
$nav_logo--color--hover: lighten($nav_logo--color, 30%);
$nav_logo--color--active: #fff;

$nav_overlay--color: #000;
$nav_link--color: #fff;
$nav_link--color--hover: $nav_logo--color;

@include colorMenu($nav_logo--color, $nav_logo--color--hover, $nav_logo--color--active, $nav_overlay--color, $nav_link--color, $nav_link--color--hover);

h1.page-title {
  color: $nav_logo--color;

  font-weight: normal;

  text-shadow: 0 0 20px rgba(0,0,0,0.45);
}

p.page-content {
  color: white;
  font-size: 1rem;

  text-shadow: 0 0 10px rgba(0,0,0,0.45);

  a {
    color: white;
    text-decoration: underline;
  }

  @include breakpoint(medium) {
    font-size: 2rem;
  }
}

body{
  margin: 0 0 50px;
}

/* http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video */
#background-image {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../assets/images/backgrounds/404-bg.jpg) no-repeat;
  background-size: cover;
}

#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#container {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  .container-item {
    flex: 1;

    &.container-item--fixed {
      flex: none;
      max-width: 80%;
      text-align: center;
      padding: 10px 0;

      .logo, .sub-heading{
        display: block !important;
        margin: auto;
      }

      .btn-container {
        img {
          width: 160px;
          padding: 0 15px;
        }
      }

      .sub-heading{
        padding: 20px 0 0;
      }
    }
  }
}

.margin--top{
  margin-top: 20px;
}