// Navigation specific variables
$nav_logo--color: #000;
$nav_logo--color--hover: lighten($nav_logo--color, 30%);

$nav_icon--color: $nav_logo--color;
$nav_icon--color--hover: $nav_logo--color--hover;
$nav_icon--color--active: lighten($nav_logo--color, 100%);

$nav_overlay--color: rgba(51,51,51,0.6);
$nav_link--color: #fff;
$nav_link--color--hover: darken($nav_link--color, 40%);

$nav_link--height: 7.5rem;
$nav_link--font-size: 3rem;
$nav_link--border: none;

$transition-time: 0.2s;
$transition-time--long: 0.4s;

$primary-color: rgb(229,0,125);
$secondary-color: rgb(0,158,227);

$row-width: rem-calc(100%);