mixin aboutControls(baseUrl)
    .about-me__content
        .controls
            a.control(href=baseUrl + 'matthew-rayner-tech-lead-cv.pdf', target='_blank', download=true) Get my CV
            a.control(href='https://github.com/mattrayner', target='_blank') GitHub
            a.control(href='https://twitter.com/mattrayner', target='_blank') Twitter
            a.control(href='https://uk.linkedin.com/in/mattrayner', target='_blank') LinkedIn
            a.control(href='https://facebook.com/matthewrayner', target='_blank') Facebook
