mixin aboutControls(baseUrl)
    .about-me__content
        .controls
            a.control(href=baseUrl + 'matthew-rayner-cv.pdf', target='_blank', download=true, rel='noopener') Get my CV
            a.control(href='https://github.com/mattrayner', target='_blank', rel='noopener') GitHub
            a.control(href='https://twitter.com/mattrayner', target='_blank', rel='noopener') Twitter
            a.control(href='https://uk.linkedin.com/in/mattrayner', target='_blank', rel='noopener') LinkedIn
            a.control(href='https://facebook.com/matthewrayner', target='_blank', rel='noopener') Facebook
