extends ./layout/base

block variables
    - var title = 'Matt Rayner | Oops, Page Not Found'
    - var socialTitle = 'Matt Rayner - Page Not Found'

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/404.min.css')

block content
    main#mainContent
        #background-image
        #container
            .container-item.container-item--fixed
                h1.page-title OOPS, PAGE NOT FOUND
                p.page-content= 'THERE\'S NO PLACE LIKE '
                    a(href=baseUrl) HOME
block append scripts
    script(src=baseUrl+'js/index.min.js')