extends ./layout/base

block variables
    - var title = 'Matt Rayner | Something went wrong'
    - var socialTitle = title

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/index.css')

block content
    section#home-slide.primary-background
        .background
            ul#scene
                li.layer.layer-1(data-depth="0.5")
                    .image
                li.layer.layer-2(data-depth="0.75")
                    .image
                li.layer.layer-3(data-depth="1.0")
                    .image
            .overlay
        .content
            h1.page-title Something went wrong
            p.page-content Lets try going #[a(href=baseUrl) home].


block append scripts
    script(src=baseUrl+'js/index.min.js', defer=true)