extends ./layout/content.pug

block variables
    - var title = 'BD Network | About Us'
    - var keywords = 'bd,network,integrated,agency,about,us,history,clients,approach'
    - var description = 'BD was created in 1990 by two ex-clients who demanded better. Today our vision remains the same. From our offices in Shoreditch, Melbourne and Sydney, our team of over 100 talented, lovely, hard-working, individuals continue to create inspirational ideas and turn them into reality for our clients.'
    - var socialTitle = 'BD Network - About Us'
    - //var socialDescription = 'SOCIAL BD created an out of home experiencial campaign for Cadberys to launch a brand recognition campaign'
    - //var facebookImage = baseUrl+'assets/images/social/house-of-mouth-fb.jpg'
    - //var twitterImage = baseUrl+'assets/images/social/house-of-mouth-tw.jpg'

block append stylesheets
    link(rel='stylesheet', href=baseUrl+'css/about.min.css')

block append page-content
    .row.add-margin.header.text-center
        .column.small-10.small-offset-1.medium-8.medium-offset-2.large-6.large-offset-3
            h1.page-title.ir WE THINK. WE CREATE. WE DO.
            p We’re a well-established agency that prides itself on being relevant, fresh and proactive.
            p.light We bring brands to life with ideas based on strategy and insight. Ideas that are focused, flawlessly executed and delivered to the right people, at the right time and in the right way.

    .background--grey-blue.color--white.section-padding
        .row.text-center
            .column.small-10.small-offset-1.medium-8.medium-offset-2.large-6.large-offset-3
                h2.page-title.ir.uppercase.bold CULTURE
                p BD Network was formed in 1990 by two people with a shared vision – to murder the mediocre. This has been the agency’s culture throughout and is as strong today as it was 26 years ago.
                p.light No egos, no politics. We're free to work in a way that brings the right mix of skills together for every single idea.

                p

                .social-container
                    a(href='https://www.instagram.com/think_bd/', target='_blank')
                        img(src=baseUrl+'assets/images/about/instagram_white.svg')
                    a(href='https://twitter.com/thisisbd?lang=en-gb', target='_blank')
                        img(src=baseUrl+'assets/images/about/twitter_white.svg')
                    a(href='https://www.linkedin.com/company/643869?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_643869%2Cidx%3A0', target='_blank')
                        img(src=baseUrl+'assets/images/about/linkedin_white.svg')

    .row.section-padding
        .small-10.small-offset-1.medium-8.medium-offset-2.large-6.large-offset-3.text-center
            h2.page-title.ir.uppercase.were-proud-padding.bold We’re proud to work with
            img(data-interchange="[" + baseUrl + "assets/images/mobile/clientlist.jpg, small], [" + baseUrl + "assets/images/clientlist.jpg, medium]")

    .row.section-padding--bottom
        .column.small-12.text-center
            iframe.about-video(width="1280", height="720", src="https://www.youtube.com/embed/HXjbWN9yPAA?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)